
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); 

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #8C5B65;
    background-color: #ECEBE9;
    padding: 15px;
   
}

header{
    background-color: #cf97a0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #cf97a0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-submit-button {
    background: #fff;
    color: black;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    text-shadow: none;
    border-color: black;
    border-style: outset;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    font-size: 12px;
}